<div class="welcome">
    <div class="login">
        <!--BEGIN LOGO-->
        <div class="logo">
            <a href="index.html">
                <img src="img/logo.png" alt="logo"/> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form name="form" class="login-form" ng-submit="login(form)" novalidate>
                <h3 class="form-title font-green">Sign In</h3>
                <div class="alert alert-danger" ng-if="form.$submitted && cmnSvc.isEmpty(user.email) && cmnSvc.isEmpty(user.password)">
                    <button class="close" data-close="alert" ng-click="cmnSvc.setFormSubmitted(form)"></button>
                    <span> Enter your email & password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="email"
                           autocomplete="off" placeholder="Email" name="emel" ng-model="user.email" required/> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password"
                           autocomplete="off" placeholder="Kata Laluan" name="password" ng-model="user.password" required/> </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Sign In</button>
                    <a href="javascript:;" id="forget-password" class="forget-password" ng-click="cmnSvc.redirect('forgot')">Forgot password?</a>
                </div>
                <div class="create-account">
                    <p>
                        <a id="register-btn" class="uppercase" ng-click="cmnSvc.redirect('signup')">Create an account</a>
                    </p>
                </div>
            </form>
            <!-- END LOGIN FORM -->
        </div>
        <div class="copyright"> 2017 © Tapak </div>
    </div>
</div>
